caldav==2.2.3
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
distro==1.9.0
dnspython==2.8.0
getkey==0.6.5
h11==0.16.0
icalendar==6.3.2
icalendar-searcher==1.0.3
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jeepney==0.9.0
jh2==5.0.10
keyring==25.7.0
lxml==6.0.2
more-itertools==10.8.0
niquests==3.15.2
numpy==2.3.5
pandas==2.3.3
pycparser==2.23
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
qh3==1.5.6
recurring-ical-events==3.8.0
SecretStorage==3.5.0
setuptools==80.9.0
six==1.17.0
tabula-py==2.10.0
tzdata==2025.2
urllib3-future==2.14.908
wassima==2.0.2
x-wr-timezone==2.0.1
